@media screen and (max-width: 600px) {
	#logo{
		width: 100%;
	}
    nav ul{
    	width: 100%;
    	float: left;	
    }
    #headerPic{
    	width: 50%;
    	height: 65%;
    }
    .articel-preview{
    	width: 50%;
    	border-bottom: 1px solid gray;
    	height: 50%;
    }
    .btn-read-more{
    	width: 15%;
    }
}
