body{
    margin: 0;
	padding: 0;
}
#container{
	background-image: url(img/img01.jpg);
	width: 100%;
	height: 57%;
}
#headerContent{
	margin: 0 auto;
	width: 1000px;
	height: 18%;
}
#logo{
	float: left;
}
#headerContent h1{
	font-family: sans-serif;
}
nav ul{
	list-style: none;
	float: right;
	margin-top: 3%;
}
nav ul li{
	float: left;
	margin-right: 16px;
	font-size: 14px;
    font-weight: 300;
    padding: 5px;
}
#headerPic{
	background-image: url(img/img02.jpg);
	background-repeat: no-repeat;
	width: 1000px;
	height:400px;
	margin: 0 auto;
	box-shadow:0 18px 23px rgba(182, 182, 182, 0.75);
	
}
.clear-box{
	clear: both;
	overflow: hidden;
}
nav li:first-child { 
    background-color: black;
    color: white;
    border-radius: 5px;
 }
 #articles{
 	margin: 0 auto;
 	width: 1000px;
 } 
 hr{
 	width:1000px;
 	height: 3px;
    background-color: rgba(171, 165, 165, 0.42);
 }
 .articel-preview{
 	float: left;
 	width: 30%;
 	height: 40%;
 	margin-left: 2%;
 }
#imgOne{
	background-image: url(img/img06.jpg);
	background-repeat: no-repeat;
	height: 45%;
	width: 100%;
}
#imgTwo{
	background-image: url(img/img07.jpg);
	background-repeat: no-repeat;
	height: 45%;
	width: 100%;
}
#imgThree{
	background-image: url(img/img08.jpg);
	background-repeat: no-repeat;
	height: 45%;
	width: 100%;
}
.btn-read-more{
	background-color: black;
	color: white;
	width: 24%;
    padding: 3%;
    border-radius: 5px;
}
#middleTwo{
	height: 40%;
	width: 1000px;
	margin: 0 auto;
}
#aboutUs{
	width: 60%;
	height: 100%;
	float: left;
}
.btn-about-us{
	background-color: black;
	color: white;
	border-radius: 5px;
	width: 15%;
    height: 15%;
    font-size: 15px;
}
#categories{
	width: 30%;
	float: left;
	height: 100%:
}
#categories ul{
	list-style: none;
}
#categories ul li{
	border-bottom: 1px solid gray;
	padding: 3px;
}
#categories li:before { 
    content: "";
    border-color: transparent #111;
    border-style: solid;
    border-width: 0.20em 0 0.20em 0.25em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
 }
 #footerOne{
 	background-image: url(img/img05.jpg);
 	width: 100%;
 	height: 30%;
 }
 #footerTwo{
 	background-image: url(img/img01.jpg);
 	width: 100%;
 	height: 15%;
 }
#containList{
	width: 1000px;
	margin: 0 auto;
}
.list{
	width: 30%;
	height: 100%;
	float: left;
}
.list h2{
	color: white;
	font-family: 'Oswald', sans-serif;
	font-weight: 100;
}
.list ul{
	list-style: none;
	padding-left: 0;
}
.list ul li{
	padding-top: 15px;
}
.list ul li a{
	text-decoration: none;
	color: #93B2A0;
	font-size: 15px;
	border-bottom: 1px solid #162738;
}
#rights{
	text-align: center;
	padding: 65px;
}
